<body style="background-color:#ec9e9e4b ;">

    <div style="padding-top:100px;"></div>

    <form action="/admin" method="get">

        <div class="containe">

            {{#if messages.erro}}
            <div style="height:30px ;" class="massages">
                <p style="color:red; font-size:30px " class="massages">{{messages.erro}}</p>
            </div>{{/if}}


        </div>

        <br><br>
        <div class="containe">
            <div class="row">
                <div class="highlight">



                    <table >
                        <thead>
                            <tr>
                                {{#each data}}
                                <th class="{{colour}}" style="font-size:25px ;" >{{work_day}} </th>

                                {{/each}}
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                {{#each data}}
                                <td  >
                                    <ul>
                                        {{#each this.waiter}}
                                                                        

                                       <a href="/days/{{this}}" ><p style="align-content: flex-start; font-size:x-large; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ">{{this}}</p></a> 
                                        {{/each}}
                                    </ul>

                                </td>
                                {{/each}}
                            </tr>

                        </tbody>

                    </table>





                </div>

            </div>
        </div>
    </form>

                    <h5 class="center">Click on the waiters name to reschedule </h5>

    <div style="padding-top: 40px ;">
        <a href="/clear"><button class="btn" type="resert">RESERT DATA</button></a>
    </div>

    <script src="/timeout.js"></script>

</body>