<body style="background-color:#ec9e9e4b ;">
    <div class="header">
        <nav class="nav-bar" >
            <a href="/" class="nav-link">HOME</a>
        </nav>
    </div>

    <br><br>
    <div class="center" style="font-size:40px ;">Please select your working days</div>
    <br><br>

    {{#if messages.info}}
    <div style="height:30px ;  " class="massages" s>
        <p style="color:green; font-size:25px; padding-left:35%; "  class="massages">{{messages.info}}</p>
    </div>{{/if}}

    {{#if messages.erro}}
                    <div style="height:30px ;" class="massages">
                        <p style="color:red; font-size:25px; padding-left:35%; " class="massages">{{messages.erro}}</p>
                 </div>{{/if}}

    <br><br><br><br>

    <form action="/selectDays/{{name}}" method="post">

        <div class="containe">
            <div class="row">

                <div class="col-12 checkboxDiv">
                    {{#each days}}

                    <label>
                        <input type="checkbox" class="filled-in" name="selectDays" value={{this.day}} {{checked}} />
                        <span style="padding-right: 10px; color:black;  "> {{this.day}} </span>
                    </label>
                    {{/each}}
                 

                </div>

            </div>
        </div>


        <br><br>
        <div class="containe">
            <div class="row">

                <div class="col-12 secongBTN">
                    <button type="" class="btn" value="SUBMIT">SUBMIT</button>
                </div>

            </div>
        </div>



    </form>


    <script src="/timeout.js"></script>

</body>