<body style="background-color:#d67f7f ;">
    <div class="header">
        <nav class="nav-bar">
            {{!-- <button class="nav-link"></button> --}}
            <a href="/" class="nav-link">HOME</a>
        </nav>
    </div>

    <br><br>
    <div class="center" style="font-size:40px ;">Please select your working days</div>
    <br><br>

    {{#if messages.info}}
    <div style="height:30px ;  " class="massages" s>
        <p style="color:green; font-size:25px; padding-left:35%; "  class="massages">{{messages.info}}</p>
    </div>{{/if}}
    <br><br><br><br>

    <form action="/selectDays/{{name}}" method="post">

        <div class="container">
            <div class="row">

                <div class="col-12 checkboxDiv">
                    {{#each days}}

                    <label>
                        <input type="checkbox" class="filled-in" name="selectDays" value={{this.day}} {{checked}} />
                        <span style="padding-right: 10px; color:black;  "> {{this.day}} </span>
                    </label>
                    {{/each}}
                    {{!-- <label>
                        <input type="checkbox" class="filled-in" name="selectDays" value="Tuesday" />
                        <span style="padding-right: 20px;">Tuesday</span>
                    </label>

                    <label>
                        <input type="checkbox" class="filled-in" name="selectDays" value="Wednesday" />
                        <span style="padding-right: 20px;">Wednesday</span>
                    </label>

                    <label>
                        <input type="checkbox" class="filled-in" name="selectDays" value="Thursday" />
                        <span style="padding-right: 20px;">Thursday</span>
                    </label>

                    <label>
                        <input type="checkbox" class="filled-in" name="selectDays" value="Friday" />
                        <span style="padding-right: 20px;">Friday</span>
                    </label>


                    <label>
                        <input type="checkbox" class="filled-in" name="selectDays" value="Saturday" />
                        <span style="padding-right: 20px;">Saterday</span>
                    </label>


                    <label>
                        <input type="checkbox" class="filled-in" name="monday" value="Sunday" />
                        <span style="padding-right: 20px;">Sunday</span>
                    </label> --}}



                </div>

            </div>
        </div>


        <br><br>
        <div class="container">
            <div class="row">

                <div class="col-12 secongBTN">
                    <button type="" class="btn" value="SUBMIT">SUBMIT</button>
                </div>

            </div>
        </div>



    </form>


    <script src="/timeout.js"></script>

</body>